<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ClientSecretKeyMapper">
	<resultMap id="BaseResultMap" type="ClientSecretKey">
		<id column="id" property="id" />
		<result column="sell_channel" property="sellChannel" />
		<result column="secret_key" property="secretKey" />
		<result column="is_valid" property="isValid" />
		<result column="expire_time" property="expireTime" />
	</resultMap>


	<sql id="allColumn">
		id,sell_channel,secret_key,is_valid,expire_time
	</sql>

	<sql id="tableName"> client_secret_key </sql>

	<insert id="insert" parameterType="ClientSecretKey" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="tableName" />
		(sell_channel,secret_key,is_valid,expire_time) values (#{sellChannel},#{secretKey},#{isValid},#{expireTime})
	</insert>

	<select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="allColumn" />
		from
		<include refid="tableName" />
		<where>
			<if test=" sellChannel !=null ">
				sell_channel = #{sellChannel}
			</if>
		</where>
		order by id desc limit #{startIndex},#{pageSize}
	</select>

	<select id="countByPage" parameterType="map" resultType="int">
		select
		count(1)
		from
		<include refid="tableName" />
		<where>
			<if test=" sellChannel !=null ">
				sell_channel = #{sellChannel}
			</if>
		</where>
	</select>


	<select id="selectOne" resultMap="BaseResultMap">
		select
		<include refid="allColumn" />
		from
		<include refid="tableName" />
		where sell_channel = #{sellChannel}
	</select>
	
	<select id="selectOneById" resultMap="BaseResultMap">
		select
		<include refid="allColumn" />
		from
		<include refid="tableName" />
		where id=#{id}
	</select>

	<update id="update" parameterType="ClientSecretKey">
		update
		<include refid="tableName" />
		set sell_channel = #{sellChannel} ,secret_key = #{secretKey},is_valid=#{isValid},expire_time=#{expireTime}
		where id =
		#{id}
	</update>

	<delete id="delete" parameterType="list">
		delete from
		<include refid="tableName" />
		where id 
		IN
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>